.main {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box-1 {
  background-color: red;
  width: 150px;
  height: 150px;
  transition-timing-function: ease;
  transition-duration: 800ms;
}

.box-1:hover {
  transform: translateY(300px);
}
